
        body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

p {
	COLOR:WHITE;
  font-family: verdana;
  font-size: 20px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  
  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
  color: antiquewhite;
  text-align: center;
}
iframe:focus {
    align-content: center;
    outline: none;
    width: 80%
  }
  
  iframe[seamless] {
    display: block;
  }
